/* variables */

:root {
    --background: #000A;
    --color: #FFF;
    --padding: 10px;
}

/* links */

a {
    transition: 100ms;
    text-decoration: none;
    color: orange;
}
a:visited {
    color: orange;
}
a:hover {
    color: white;
}

/* application */

* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

#application > *
{
    margin: auto;
    width: 1000px;
}

#application > *
{
    background-color: var(--background);
    color: var(--color);
    padding: var(--padding);
}

#application > * + *
{
    margin-top: 5px;
}

#application > nav > h3 {
    margin: var(--padding) 0;
}

#application > nav .player {
    margin: var(--padding) 0;
}
